<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>{% block title %}Mukti 2017{% endblock %}</title>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- LOAD CSS AND BASIC JS -->

	<!-- Foundation css -->
	<link rel="stylesheet" href="{% static "css/foundation.min.css" %}">

	<!-- Jquery minified JavaScript -->
	<script src="{% static "js/jquery.min.js" %}"></script>

	<!-- THEME CSS FILE -->
	<link rel="stylesheet" href="{% static "css/theme/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/pageloader.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/ionicons.min.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/main.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/main_responsive.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/style-font1.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/jquery.fullPage.css" %}">
	<link rel="stylesheet" href="{% static "css/theme/vegas.min.css" %}">
	<!-- rrssb social icon css -->
	<link rel="stylesheet" href="{% static "css/rrssb/rrssb.css" %}">
	<!-- Ion icons css CDN-->
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<!--Carousel css-->
	<link rel="stylesheet" href="{% static "slick/slick.css" %}">
	<link rel="stylesheet" href="{% static "slick/slick-theme.css" %}">
	<!-- This css have put to add hover effects incase we add any -->
	<link rel="stylesheet" href="{% static "css/aero-hover-effects.css" %}">
	<!-- Extra head block -->
	{% block extra_head %}{% endblock %}
</head>
<body>

	<!-- Page Loader -->
	<div class="page-loader" id="page-loader" style="background-color:white;">
		<div>
			<img src="{% static "images/loader.gif" %}" alt="">
			<!--<i class="ion ion-loading-d"></i>-->
			<p>A P A R E C I U M</p>
		</div>
	</div>
	<!--Page loader ends-->
	<!--Cover Pic-->
	<div class="page-cover" id="home">
		<!-- Cover Background -->
		<div class="cover-bg pos-abs full-size bg-img" data-image-src={% static "images/bgh1.jpg" %}>
			<div class="layer">
			</div>
		</div>
	</div>
	<!--Cover pic ends-->
	{% block body_contents %}{% endblock %}

</body>
<!-- THEME JS FILES -->
<script src="{% static "js/theme/vendor/all.js" %}"></script>
<script src="{% static "js/theme/vendor/modernizr-2.7.1.min.js" %}"></script>
<script src="{% static "js/theme/jquery.downCount.js" %}"></script>
<script src="{% static "js/theme/form_script.js" %}"></script>
<script src="{% static "js/theme/main.js" %}"></script>
<!--Carousel js-->
<script src="{% static "slick/slick.min.js" %}"></script>
<!-- rrssb js -->
<script src="{% static "js/rrssb/rrssb.min.js" %}"></script>

<!-- extra JS -->
{% block extrajs %}{% endblock %}
</html>
