{% extends "festflow/base.html" %}
{% load staticfiles %}

{% block body_contents %}

<!-- BEGIN OF site header Menu -->
<header class="header-top">
	<div class="logo">
		<a href="/#home">
			<img src="{% static "images/mktiLWC.png" %}" alt="Logo Brand">
		</a>
	</div>
	<div class="menu clearfix">
		<a href="/#events">Events</a>
		<!-- Add other menu similar to "about" here -->
		<a href="/#contact">contact</a>
		{% if user.is_authenticated %}
		<a href="/logout">Logout</a>
		{% else %}
		<a href="/login">Login</a>
		{% endif %}
	</div>
</header>
<!-- END OF site header Menu-->
<main class="page-main" id="mainpage">

	<div class="event-page-content-wrapper">
		<div class="event-page-content-inner-wrapper">

			<h1>{{ event.name }}</h1>
			{% if event.logo %}
			<img src="{{ event.logo.url }}">
			{% endif %}

			<h2>About the Event</h2>
			<p>{{ event.description }}</p>
			<p><strong>Venue</strong>: {{ event.venue }}</p>
			<p><strong>Time</strong>: {{ event.date_time }}</p>
			{% if event.problem_statement_file %}
			<a href="{{ event.problem_statement_file.url }}" target="_blank">
				<span class="event-problem-statement-link">Problem Statement</span>
			</a>
			{% endif %}

			<div>
				{% if event in user_profile.registered_events.all %}
				<h3>You have already registered for this event</h3>
				{% else %}
				<a href="/register_event/{{ event.identifier }}"><button class="event-register-button">Register</button></a>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock %}