{% extends "festflow/base.html" %}

{% block body_contents %}
<main class="page-main" id="mainpage">
	<!-- Begin of home page -->
	<div class="section page-home page page-cent" id="s-home">
		<!-- Logo -->
		<!--<div class="logo-container">
			
		</div>-->
		<!-- Content -->
		<section class="content">
			<header class="header">

				<div class="h-left">
					<h2><strong>MUKTI</strong> 2K17</h2>
					<h4 style="color:white; font-family:Gruppo;"><i>-the only FOSS festival of Eastern India</i></h4> <!--<a href="#when">-->
				</div>

				<div class="h-right">
					<h3>#Coming <br>#Soon</h3>
					<!--<h4 class="subhead"><a href="#when">-the only FOSS festival of Eastern India</a></h4>-->
				</div>

			</header>
		</section>

		<!-- Scroll down button -->
		<footer class="p-footer p-scrolldown">
			<a href="#when">
				<div class="arrow-d">
					<div class="before">Tell&nbsp;me</div>
					<div class="after">When</div>
					<div class="circle"></div>
				</div>
			</a>                        
		</footer>
	</div>
	<!-- End of home page -->

	<!-- Begin of timer page -->
	<div class="section page-when page page-cent" id="s-when">
		<section class="content">
			<div class="clock clock-countdown">
				<div class="site-config"
				data-date="01/20/2017 18:30:00" 
				data-date-timezone="+0"
				></div>
				<header class="header">
					Magical Exuberance <strong>begins in</strong>
				</header>
				<div class="elem-left">
					<div class="digit hours">00</div>
					<div class="text">hrs</div>
				</div>						
				<div class="elem-center">
					<!-- Optional text at top or image logo -->
					<!--<span class="text top">here in</span>-->
					<!-- Optional logo at top -->
					<span class="text top">
					<!--Logo for clock-->
					</span>
					<div class="digit days">000</div>
					<div class="text">days</div>
				</div>
				<div class=" elem-right">
					<div class="digit minutes">00</div>
					<div class="text">min</div>
				</div>

				<!-- second knob here -->
				<div class="second">
					<input class="knob container" 
					id="second-knob"
					data-width="400"
					data-height="400"
					data-displayInput=false
					data-fgColor="#fff"
					data-bgColor="rgba(255,255,255,0)"
					data-thickness=".07"
					value="0"
					data-displayPrevious=true
					data-max="6000"
					/>
				</div>
			</div>                   

		</section>                
		<footer class="p-footer p-scrolldown">
			<a href="#events">
				<div class="arrow-d">
					<div class="before">The&nbsp;</div>
					<div class="after">Events</div>
					<div class="circle"></div>
				</div>
			</a>                        
		</footer>
	</div>
<!-- End of timer page -->
<!-- Keynote speker page-->
<div class="section  page page-cent" id="s-keynote">
	<section class="content">
		<header class="header">
			<h1 style="color: white">Keynote page</h1>
		</header>
	</section>
</div>
<!--Keynote speaker page ends-->

<!--Start of event page-->
	<div class="section  page page-cent" id="s-events">
	  <section class="content">
	    <!--Carousel-->
	    <header class="header">
	    	<h2> Events</h2>
	    </header>
		<div class="carousel" data-flickity='{ "autoPlay": 1500}'>
  			<div class="carousel-cell">
  				<!-- You can add <img> tags within these divs here-->
  			</div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
  			<div class="carousel-cell"></div>
		</div>
		<!--Carousel ends-->
	  </section>
	</div>
<!-- Events page ends-->

<!-- About us page-->
<div class="section  page page-cent" id="s-about">
	<section class="content">
		<header class=header>
			<h1 style="color: white"> About us page</h1>
		</header>
	</section>
</div>
<!--About us page ends-->

<!-- Contact page-->
<div class="section  page page-cent" id="s-contact">
	<section class="content">
		<header class=header>
			<h1 style="color: white"> Contact us page</h1>
		</header>
	</section>
</div>
<!--Contact page ends-->


</main>
{% endblock %}
