
body {
	background: #000;
}

/* Carousel css starts */

* { box-sizing: border-box; }

.carousel {
  background: transparent;
}

.carousel-cell {
  width: 50%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/*Carousel css ends */