@keyframes glow {
  0%   {-webkit-filter: drop-shadow(0px 0px 0px #fff); filter: drop-shadow(0px 0px 0px #fff);}
  50%  {-webkit-filter: drop-shadow(0px 0px 5px #DDEBF9); filter: drop-shadow(0px 0px 5px #DDEBF9); transform: scale(1.02);}
  100% {-webkit-filter: drop-shadow(0px 0px 0px #fff); filter: drop-shadow(0px 0px 0px #fff);}
}

@keyframes shadowGlow {
  0% {box-shadow: 0 0 0px 0px #fff;}
  50% {box-shadow: 0 0 4px 0px #fff; transform: scale(1.3);}
  100% {box-shadow: 0 0 0px 0px #fff;}
}


body {
	background: #000;
}

/* Carousel css starts */

* { box-sizing: border-box; }

.carousel {
  background: transparent;
}

.carousel-cell {
  width: 50%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/*Carousel css ends */

#landing_logo {
 -webkit-filter: drop-shadow(0px 0px 2px #fff);
 filter: drop-shadow(0px 0px 2px #fff);
 animation-name: glow;
 animation-duration: 4s;
 animation-iteration-count: infinite;
}

#next_page_circle {
  animation-delay: 2s;
  animation-name: shadowGlow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}